{% extends 'base.html.twig' %}

{% block title %}Log In !
{% endblock %}

{% block body %}
	<form class="container mt-5" method="post">
		<div class="row g-3">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }}.
				</div>
			{% endif %}

			<h1 class="h2 mb-3 font-weight-normal">{{ block("title") }}</h1>

			<div class="col-auto">
				<input type="email" value="{{ last_username }}" class="form-control" id="inputEmail" name="email" placeholder="name@example.com" autocomplete="username" required autofocus>
			</div>

			<div class="col-auto">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="col-auto">
				<button type="submit" class="btn btn-primary">Confirm identity</button>
			</div>
		</div>
	</form>
{% endblock %}


